body {
  padding-top: 80px; /* empurra o conteúdo pra baixo do menu */
  background-color: rgba(255,255,255,0.9);
}




/* Subtitulo */
.subtitulo{
    margin-top: -20px;
}

/*Botoes da pagina inical */
.Botao{
    display: inline-block;
    padding: 12px 24px;
    background-color: #e73030;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
    margin: 10px 10px 10px 0;
    font-family: sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.Botao:hover{
    background-color: #d73a3a;
}
/* Menu */
.menu{
    height: 80px;
    list-style: none;
    margin: 0;
    padding: 10px 60px 0px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}
.menu li {
  margin: 0 15px;
}

.menu li a {
  color: rgb(218, 61, 61);
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 6px; /* deixa o botão arredondado */
  transition: background-color 0.3s, color 0.3s;
}
.menu li a:hover {
    background-color: rgb(218, 61, 61); /* fundo vermelho */
    color: white; /* texto branco */
}
/* Links Socias */

/* Conteudo pagina inicial */

.conteudo{
  min-height: calc(100vh - 200px) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  

}
/* Rodape */
.rodape{
  margin-top: 100px;
  width: 100%;
  background-color: #111; /* fundo escuro pra destacar */
  color: white;
  text-align: center;
  padding: 40px 20px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 20px;
}
/* Títulos */
footer.rodape h3 {
  color: #e73030;
  font-size: 20px;
  margin-bottom: 5px;
}
footer.rodape h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
footer.rodape form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;

}
footer.rodape label {
  font-weight: bold;
  align-self: flex-start;
}

footer.rodape input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #222;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s;
}

